@media screen and (min-width: 1000px)
{

    @font-face {
        font-family: 'Montserrat-ExtraLight';
        src: local('Montserrat-ExtraLight'), local('Montserrat-ExtraLight'),
        url('/fonts/Montserrat-ExtraLight.ttf') format('truetype');
        font-weight: 200;
        font-style: normal;
    }
    @font-face {
        font-family: 'Montserrat-Light';
        src: local('Montserrat-Light'), local('Montserrat-Light'),
        url('/fonts/Montserrat-Light.ttf') format('truetype');
        font-weight: 100;
        font-style: normal;
    }
    @font-face {
        font-family: 'Montserrat-Medium';
        src: local('Montserrat-Medium'), local('Montserrat-Medium'),
        url('/fonts/Montserrat-Medium.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Montserrat-Bold';
        src: local('Montserrat-Bold'), local('Montserrat-Bold'),
        url('/fonts/Montserrat-Bold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
    }
    @font-face {
        font-family: 'Montserrat-Black';
        src: local('Montserrat-Black'), local('Montserrat-Black'),
        url('/fonts/Montserrat-Black.ttf') format('truetype');
        font-weight: 800;
        font-style: normal;
    }

    .mf-ultralight
    {
        font-family: "Montserrat-ExtraLight";
    }
    .mf-light
    {
        font-family: "Montserrat-Light";
    }
    .mf-medium
    {
        font-family: "Montserrat-Medium";
    }
    .mf-bold
    {
        font-family: "Montserrat-Bold";
    }
    .mf-black
    {
        font-family: "Montserrat-Black";
    }
}
.main-p-btn{
    -webkit-box-shadow: 3px 2px 0px 1px rgba(243,172,77,1);
    -moz-box-shadow: 3px 2px 0px 1px rgba(243,172,77,1);
    box-shadow: 3px 2px 0px 1px rgba(243,172,77,1);
}
.header-link{
    font-size: 15px;
    line-height: 18px!important;
    color: #fff!important;
}
.header-link.active{
    text-decoration-line: underline;
    color: #F3AC4D!important;
}
.modal-input{
    background: rgba(224, 224, 224, 0.3);
    border-radius: 10px;
    height: 52px;
    border: 0;
    padding-left: 20px;
    outline-color: transparent;
}
.modal-input:focus{
    border: 1px solid #F9BB68;;
}
.btn-send{
    background: #F9BB68;
    border-radius: 10px;
    width: 75%;
    -webkit-box-shadow: 3px 2px 0px 1px rgba(243,172,77,1);
    -moz-box-shadow: 3px 2px 0px 1px rgba(243,172,77,1);
    box-shadow: 3px 2px 0px 1px rgba(243,172,77,1);
    color: #fff;
    font-size: 18px;
    line-height: 125%;
}
.get-price-model{
    border-radius: 10px;
    background-image: url('/images/art3.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}
.content{
    max-width: 1920px;
}
.header-30{
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #222222;
}
.c-pointer{
    cursor: pointer!important;
}
.header-30-desc{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #222222;
}
.product-desc{
    font-size: 18px;
    line-height: 22px;
    color: #222222;
}

.responsive-img{
    width: 85%;
    height: 85%;
    object-fit: cover;
}
.news-content{
    background: #FFFFFF;
    box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.05);
}
.footer-headline{
    font-size: 18px;
    line-height: 22px;
    color: #878787;
}
.advantages-text{
    font-size: 18px;
    line-height: 22px;
    color: #222222;
}
.prevBtn-news{
    position: absolute;
    top: 625%;
    right: 0%;
    z-index: 999999;
}
.nextBtn-news{
    position: absolute;
    top: 625%;
    left: 0%;
    z-index: 999999;
}
.prevBtn-single{
    position: absolute;
    top: 800%;
    right: 0%;
    z-index: 999999;
}
.nextBtn-single{
    position: absolute;
    top: 800%;
    left: 0%;
    z-index: 999999;
}
.prevBtn-main{
    position: absolute;
    right: 25%;
    top:25%;
    z-index: 999999;
}
.nextBtn-main{
    position: absolute;
    left: 25%;
    top: 25%;
    z-index: 999999;
}
.allAssortment{
    position: absolute;
    z-index: 999999;
}
.catalog:hover .product-desc{
    text-decoration: underline;
}
.catalog:hover button{
    position: absolute;
    bottom: 20%;
    display: block!important;
}
.new-product .new-mark{
    display: block!important;
    position: absolute;
    top: 0%;
    left: -1.5%;
}
.product{
    background: #FFFFFF;
    box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    z-index: 11;
}
.product:hover .overlay{
    display: block!important;
    position: absolute; /* Sit on top of the page content */ /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(231, 179, 109, 0.734272) 60.72%, #F3AC4D 100%);
    z-index: 2;
    border-radius: 20px;
    cursor: pointer;
}
.product:hover .spec{
    position: absolute; /* Sit on top of the page content */ /* Hidden by default */
    bottom:20%;
    z-index: 3;
    display: block!important;
}
.btn-view{
    background: #FFFFFF;
    color: #F3AC4D;
    width: 100%;
    border-radius: 10px;
}
.btn-view a{
    text-decoration: none;
    color: #F3AC4D;
}
.tableware{
    background: #FFFFFF;
    box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.05);
}
.main-carousel div{
    outline: none!important;
    overflow: hidden;
    position: relative;
}
.outline-none div{
    outline-color: transparent!important;
    cursor: pointer;
}
@media only screen and (min-width: 1000px) {
    .section-4-bg-img{
        background-image: url("/images/Group 90.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: cover;
        border-radius: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .section-4-bg-img{
        background-image: url("/images/Group 90.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: cover;
        border-radius: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .main-carousel .slick-dots{
        bottom: 0px;
    }

}
@media only screen and (max-width: 1000px) {
    .main-carousel .slick-dots {
        bottom: 0%!important;
    }
    .height-auto{
        height: auto!important;
        flex-wrap: wrap;
    }
    .mt-responsive{
        margin-top: 60px!important;
    }
}
.catalogTabs{
    background: #E5E5E5;
    border-radius: 10px!important;
}
.catalogTabs.active{
    background: #F9BB68!important;
}
.main-carousel-h2{
    font-size: 40px;
    color: #222222;
}
.header-30{
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #222222;
}
.c-pointer{
    cursor: pointer!important;
}
.header-30-desc{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #222222;
}
.product-desc{
    font-size: 18px;
    line-height: 22px;
    color: #222222;
}

.responsive-img{
    width: 85%;
    height: 85%;
    object-fit: cover;
}
.responsive-img-100{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-content{
    background: #FFFFFF;
    box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.05);
}
.footer-headline{
    font-size: 18px;
    line-height: 22px;
    color: #878787;
}
.advantages-text{
    font-size: 18px;
    line-height: 22px;
    color: #222222;
}

.catalog:hover .product-desc{
    text-decoration: underline;
}
.catalog:hover button{
    position: absolute;
    bottom: 20%;
    left: 30%;
    display: block!important;
}
.new-product .new-mark{
    display: block!important;
    position: absolute;
    top: 0%;
    left: -1.5%;
}
.product{
    background: #FFFFFF;
    box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    z-index: 11;
}
.product-image{
    width: 100%;
}
.product:hover .overlay{
    display: block!important;
    position: absolute; /* Sit on top of the page content */ /* Hidden by default */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(25, 118, 21, 0.734272) 58.85%, #3AAA35 100%);
    z-index: 2;
    border-radius: 20px;
    cursor: pointer;
}
.product:hover .spec{
    position: absolute;
    bottom:20%;
    z-index: 3;
    display: block!important;
}
.btn-view{
    background: #FFFFFF;
    color: #F3AC4D;
    width: 100%;
    border-radius: 10px;
}
.tableware{
    background: #FFFFFF;
    box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.05);
}
.work-year{
    background: #F9BB68;
    box-shadow: -10px 14px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.work-year-inner{
    border: 1px solid #FFFFFF;
    box-shadow: -10px 14px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.clients-is{
    background: #F9F6F2;
    box-shadow: -10px 14px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.clients-is p{
    font-size: 20px;
    line-height: 140%;
    color: #000000;
}
.section-3-about-us p{
    font-size: 18px;
    line-height: 140%;
    color: #222222;
}
.section-4-about-us{
    background: #F9F6F2;
    box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.05);
}
.mt-responsive{
    margin-top: 146px;
}
.mt-responsive-f-fixed{
    margin-top: 10px;
}
.nav-item.active a{
    text-decoration-line: underline;
    color: #F3AC4D!important;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 100000;
    top: 0;
    right: -300px;
    background-color: #545454;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: -9px 0 20px 0px #00000026;
    /*padding-top: 120px;*/

}

.img-circleblock2 i{
    font-size: 40px;
    width: 85px;
    height: 44px;
    text-align: center;
}
#popup__toggle2{bottom:15px;right:-16px;position:fixed;z-index:999;}
.img-circle2{background-color:#9d165700;box-sizing:content-box;-webkit-box-sizing:content-box;}
.circlephone2{box-sizing:content-box;-webkit-box-sizing:content-box;border: 2px solid #1d568c;width:100px;height:100px;bottom:9px;right:45px;position:absolute;-webkit-border-radius:0;-moz-border-radius: 0;border-radius: 100px;opacity: .5;-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;-moz-animation: circle-anim 2.4s infinite ease-in-out !important;-ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.circle-fill2{box-sizing:content-box;-webkit-box-sizing:content-box;background-color:#ffffff;width:90px;height:90px;bottom:14px;right:49px;position:absolute;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 100px;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.img-circle2{box-sizing:content-box;-webkit-box-sizing:content-box;width:90px;height:90px;bottom: 14px;right: 49px;position:absolute;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;border: 2px solid transparent;opacity: .7;}
.img-circleblock2{box-sizing:content-box;-webkit-box-sizing:content-box;width:90px;height:90px; border-radius: 50%; background-position: center center;background-repeat:no-repeat;animation-name: tossing;-webkit-animation-name: tossing;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;cursor: pointer;}
.img-circle2:hover{opacity: 1;}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
    50% {transform: scale(1); opacity: 1; }
    100% {transform: scale(0.9);opacity: 1;}}
@-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
    50% {-webkit-transform: scale(1);opacity: 1;}
    100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
    0% {transform: rotate(-8deg);}
    50% {transform: rotate(8deg);}
    100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
    0% {-webkit-transform: rotate(-8deg);}
    50% {-webkit-transform: rotate(8deg);}
    100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
    0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
    30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
    100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
    0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
    30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
    100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
    0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
    30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
    100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
    0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
    30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
    100% {transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1;}}
@-moz-keyframes circle-fill-anim {
    0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
    100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
    0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
    50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
    100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
    0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
    100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
    0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
    100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 100000;
    top: 0;
    right: -300px;
    background-color: #545454;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: -9px 0 20px 0px #00000026;
    /*padding-top: 120px;*/

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    /*color:white;*/
    font-size: 20px;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: -24px;
    right: 3px;
    font-size: 47px;
    margin-left: 50px;
}
.mo-zap {
    font-size: 12px!important;
    line-height: 130%;
    border: 1px solid #FBDA55;
    color: #fbda55!important;
    text-align: center;
    border-radius: 130px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 3%!important;
    padding-bottom: 4%!important;
    margin-bottom: 3%;
}
.mo-when {
    font-size: 12px!important;
    line-height: 130%;
    border: 1px solid #32DDF4;
    color: #32DDF4!important;
    text-align: center;
    border-radius: 130px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 3%!important;
    padding-bottom: 4%!important;
    margin-bottom: 3%;
}
.mo-zvon {
    font-size: 12px!important;
    line-height: 130%;
    border: 1px solid #696EEC;
    color: #696EEC!important;
    text-align: center;
    border-radius: 130px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 3%!important;
    padding-bottom: 4%!important;
    margin-bottom: 3%;
}
.mo-wha {
    font-size: 12px!important;
    line-height: 130%;
    border: 1px solid #67C15E;
    color: #67C15E!important;
    text-align: center;
    border-radius: 130px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 3%!important;
    padding-bottom: 4%!important;
    margin-bottom: 3%;
}
.mo-usl {
    font-size: 12px!important;
    line-height: 130%;
    border: 1px solid #0ABFD8;
    color: #494949!important;
    text-align: center;
    border-radius: 130px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 3%!important;
    padding-bottom: 2%!important;
    margin-bottom: 3%;
    background: #0ABFD8
}
.mo-rabo {
    font-size: 12px!important;
    line-height: 130%;
    border: 1px solid #32DDF4;
    color: #32DDF4!important;
    text-align: center;
    border-radius: 130px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 3%!important;
    padding-bottom: 2%!important;
    margin-bottom: 3%;
}
.color-mo {
    font-size: 12px!important;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    padding: 4%!important;
}
.text-ce-mo {
    text-align: center;
}
.btn-scene
{
    font-size:12px;
    border:1px solid gray;
    transition: 0.3s;
}
.btn-scene:hover{
    background-color: white;
}
#chats
{
    margin-bottom: 100px!important;
}
.mo-one {
    background: #494949;
    padding-top: 0%!important;
    padding-bottom: 5%;
}
.mo-two {
    background: #545454;
    padding-top: 5%!important;
    padding-bottom: 5%;
}
.soc-mo {
    display: flex;
    padding-top: 7%;
}
.so-mo:hover {
    background: #568dc4;
    color: white!important;
    box-shadow: 0px 0px 30px rgb(86, 141, 195);
    border: 1px solid #f9f9f9;
}
.social
{
    background-color: #eeeeee;
    border:5px solid #e6e6e6;
    transition: 0.5s;
}
/*.whats-icon*/
/*{*/
/*animation: 3s icon forwards ease-in-out infinite;*/
/*}*/
.social:hover
{
    transform: scale(1.1);
}
.social
{
    position:fixed;
    bottom: 5%;
    right:2%;
    width:70px;
    height:70px;
    z-index:500;
    border-radius: 50%;
}
@media screen and (max-width:560px)
{
    .social
    {
        bottom:1%;
        width:70px;
        height: 70px;
    }
}
